<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="Manufacturer" value="no name"/>
    <add key="Model" value="unknown"/>
    <add key="SupportHours" value="24 x 7"/>
    <add key="SupportPhone" value="+7-(XXX)-XXX-XX-XX"/>
    <add key="SupportUrl" value="https://habr.com/ru/users/apcode_ars/"/>
    <add key="Logo" value="defaultOemLogo.bmp"/>
  </appSettings>
</configuration>
